// font-family 'Crimson Text', serif
// font-family 'Source Sans Pro', sans-serif

@import '_font-inter'
@import '_font-goudy-stm'

// Fonts
$mainfont = 'Inter', sans-serif
// $mainfont = "Source Sans Pro", sans-serif
// $mainfont = 'Dosis', sans-serif
$secondaryfont = 'Sorts Mill Goudy', serif
// $secondaryfont = 'Crimson Text', serif
// $secondaryfont = 'Lato', sans-serif;