@font-face {
  font-family 'Sorts Mill Goudy'
  font-style  normal
  font-weight normal
  src url("/fonts/GoudyStM-webfont.woff") format("woff"),
       url("/fonts/GoudyStM-webfont.ttf") format("ttf"),
       url("/fonts/GoudyStM-webfont.eot") format("eot")
}
@font-face {
  font-family 'Sorts Mill Goudy'
  font-style  italic
  font-weight normal
  src url("/fonts/GoudyStM-Italic-webfont.woff") format("woff"),
       url("/fonts/GoudyStM-Italic-webfont.ttf") format("ttf"),
       url("/fonts/GoudyStM-Italic-webfont.eot") format("eot")
}
