// font-family 'Crimson Text', serif
// font-family 'Source Sans Pro', sans-serif

// @import '_font-inter'
// @import '_font-goudy-stm'

// Fonts
// $mainfont = 'Inter', sans-serif
// $mainfont = "Source Sans Pro", sans-serif
// $mainfont = 'Dosis', sans-serif
// $secondaryfont = 'Sorts Mill Goudy', serif
// $secondaryfont = 'Crimson Text', serif
// $secondaryfont = 'Lato', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Source+Sans+Pro:400,600&display=swap')

$mainfont = 'Source Sans Pro', sans-serif
$secondaryfont = 'Montserrat', sans-serif