// Colours
$white = #ffffff
$lightgrey = #Fbfbfb
$grey = #b5b5b5
$darkgrey = #979797
$black = #333
$blue = #1b81ff
$darkblue = #045686
$turquoise = #51D4C2
$borderColour = $darkgrey
$shadow = 0 0 10px rgba($darkgrey, 0.1)