// Colours
$white = #ffffff
$lightgrey = #Fbfbfb
$grey = #b5b5b5
$darkgrey = #787878
$black = #222222
$blue = #1b81ff
$darkblue = #045686
$turquoise = #51D4C2

// Fonts
$mainfont = 'Source Sans Pro', sans-serif
// $mainfont = 'Dosis', sans-serif
$secondaryfont =  'Crimson Text', serif
// $secondaryfont = 'Lato', sans-serif;
