@import '_setup'
@import '_fonts'
@import '_vars'

html
  font-size 62.5%

body
  font-family 'Source Sans Pro', sans-serif
  font-size 1.6rem
  min-height 100vh
  color $black

.wrapper
  max-width 100rem
  width 90%
  margin 0 auto
  &--mini
    max-width 36rem
    width 90%
    margin 0 auto

p
  font-family 'Crimson Text', serif
  font-style italic

a
  text-decoration none
  color inherit

h2
  font-size 5.4rem

label
  color $grey

input,
textarea
  transition(box-shadow)
  &:hover,
  &:focus,
  &:active
    box-shadow()