@import '_setup'
@import '_fonts'
@import '_vars'

html
  font-size 62.5%

body
  font-family 'Source Sans Pro', sans-serif
  font-size 1.6rem
  min-height 100vh
  color $black

p
  font-family 'Crimson Text', serif
  font-style italic

a
  text-decoration none
  color inherit